{% extends 'base.html' %}


{% block content %}

<div class="container-fluid justify-content-center">
    <div class="row shop-header p-5">
        <div class="col-3 d-flex flex-column justify-content-center">
            <h2>Welcome to your shop!</h2>
            <h5>all your products will show up here</h5>
            <a href="#" class="btn btn-outline-dark mt-3">Create New Products</a>
        </div>
    </div>
</div>
<div class="row bg-dark p-3 shop-stats">
    <!-- Eventually we will query our database to populate these stats  -->
    <div class="col d-flex-justify-content-center">Total # of Customers: </div> 
    <div class="col d-flex-justify-content-center">Total Sales : $</div>
    <div class="col d-flex-justify-content-center">Total Products: </div>
</div>
<!-- Eventually our Products will show up down here! -->

{% endblock content %}